body {
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100vh;
	background: rgb(4,2,42);
	background: linear-gradient(0deg, rgba(4,2,42,1) 0%, rgba(39,39,97,1) 29%, rgba(2,2,60,1) 100%);
	touch-action: none;
}

#game-board {
	width: 100%;
	height: 100vh;
	border: solid 3px yellow;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap : .5em 1em;
	position: relative;
}

.game-section {
	width: 100%;
}

#enemy-section {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	max-height: 250px;
}

#enemy-portrait {
	width: 250px;
}

#shop-section {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	gap : 20px;
}

.deck-standard {
	width: 100px;
	height: 130px;
}

#shop {
	width: 600px;
	height: 130px;
}

#play-section {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	min-height: 90pt;
}

#player-section {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	min-height: 90pt;
	gap:10pt;
}

#played-cards {
	width: 100%;
	padding: 2pt;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap : .5em;
}

#player-hand {
	width: 400pt;
	height: 100pt;
	padding: 2pt;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap : .5em;
}

.game-card {
	width: 5em;
	height: 7em;
	display: flex;
	justify-content: center;  
	align-items: center;
	position: absolute;
	top : 50%;
	left : 50%;
    transform: translate(-50%, -50%);
}

#card {
	width: 5em;
	height: 7em;
	position: absolute;
	pointer-events: none;
	user-select: none;
}

.card-item {
	width: 100%;
	height: 100%;
	position: relative;
	filter: drop-shadow(-5px 5px 5px black);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
}

.card-illustration {
	position: absolute;
	width: 90%;
	max-height: 50%;
	height: auto;
	top: 33%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.card-description {
	color: white;
	font-size: .4em;
	position: absolute;
	margin: 0;
	top : 76px;
	left: 10px;
}